* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://img.freepik.com/free-vector/technology-background-with-earth-globe-binary-code_53876-117938.jpg?w=826&t=st=1711100248~exp=1711100848~hmac=120f40d57a25451a0e8de133471df8aaee6a3e44950d5528097685eba5e6c086");
  background-size: cover;
}

.container {
  background-image: url("https://cdn.pixabay.com/photo/2017/08/30/07/52/money-2696219_1280.jpg");
  margin-left: -4.35rem;
  width:107.5%;
}

.login-container {
  position: relative;
  width: 25rem;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid black;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

.label {
  font-weight: 800;
  display: block;
  margin-bottom: 10px;
}

.inp {
  width: 94%;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.loginbtn {
  width: 100%;
  padding: 10px;
  font-size: large;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.loginbtn:hover {
  background-color: #006fe6;
}


.bill {
  margin: 0 1.8rem;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  /* margin-right: 60px; */
  gap: 1rem;

}

.billing {
  margin: 0 1.8rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

p,
label {
  font-weight: 700;
  padding: 8px;
}

h1{
  text-shadow:5px 5px 5px #107614;
}
h1:hover{
  text-shadow:-5px -5px 5px #107614;
}
.form-control {
  width: 15rem;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-field {
  margin-left: 10px;
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
.button {
  float: right;
}
.arrang {
  display: flex;
  padding: 0 1rem;
  justify-content: space-between;
}

.button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}
.button:hover {
  cursor: pointer;
}

.tax {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: end;
  margin: 0 0.8rem;
}

.tax-inp {
  height: 30px;
  width: 15rem;
  border-radius: 8px;
  margin: 5px;
  border: none;
  text-align: right;
}

.subPArent {
  display: flex;
  justify-content: center;
}

.submit {
  display: block;
  width: 20rem;
  background-color: #16ad1b;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.submit:hover {
  cursor: pointer;
  background-color: #107614;
}

.removebtn {
  height: 30px;
  width: 80px;
  border-radius: 10px;
  background-color: #ec1105;
  color: white;
  border: none;
  cursor: pointer;
}

.table {
  box-shadow: 5px 5px 5px #362e2e;
}

.customerpage {
  margin-right: 0.5rem;
  margin-left: -3rem;
  padding: 0;
  height: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  width: auto;
  border: 1px solid black;
  padding: 0.5rem;
  text-align: left;
}
th {
  background-color: #22a328;
}
td {
  background-color: #a37a22;
}

.note {
  padding: 1rem;
  font-size: 20px;
  text-align: center;
  color: #333333fb;
  font-family: serif;
}

.contain {
  display: flex;
  flex-direction: row;
  width: 99.3%;
}

.sidenav {
  flex: 0 0 auto;
  width: 13%;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  background-color: #0c0808;
}

.sidenav a {
  display: flex;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.sidenav a:hover {
  background-color: rgb(10, 240, 10);
  color: black;
}

.box {
  flex: 1;
  padding-left: 220px;
  width: 86%;
}

li {
  font-size: 24px;
  padding: 8px;
  color: black;
  font-weight: 600;
}

.billPage,
.cusList {
  text-align: center;
}

.home{
  background-image: url("https://cdn.pixabay.com/photo/2018/04/29/21/27/nature-3361174_1280.jpg");
  background-size:auto;
  margin-left: -4.5rem;
 height: 34.9rem;
 width: 107.7%;
}
ul{
  margin: 0 3rem;
}

/* Add media query for responsiveness start */
@media (max-width: 768px) {
  .contain {
    flex-direction: column;
  }

  .arrang{
    margin-left: 3.5rem;
  }

  .tax{
    width: 100%;
  }
  .tax-inp{
    font-size: 1.2rem;
    padding: 1.4rem;
    margin-right: 2rem;
    width: 13rem;
  }
  
  label{
    font-size: 1.2rem;
  }

  .bill {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2.4rem;
    
  }

  .billing {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2.8rem;
  }

  .form-control {
    width: 18rem;
  }

  .sidenav {
    width: 100%;
    position: static;
    overflow-y: visible;
    height: auto;
  }

  .box {
    padding-left: 0;
  }

  .customerpage {
    padding: 0;
    height: 100vh;

  }

  table {
    width: 80%;
    border-collapse: collapse;
  }
  th,
  td {
    width: auto;
    border: 1px solid black;
    padding: 0.5rem;
    text-align: left;
  }
  th {
    background-color: #22a328;
  }
  td {
    background-color: #a37a22;
  }
  
}

/* end**********************************************8 */




/* media query 360px******************* start*/

@media (max-width: 360px) {
   .contain {
    flex-direction: column;
   
  }

  .arrang{
    margin-left: 3.5rem;
  }


  .sidenav {
    width: 100%;
    position: static;
    overflow-y: visible;
    height: auto;
  }

  .box {
    padding-left: 0;
  } 

   .customerpage {
    width: 100%;
    margin: 0.5rem;
    padding: 0;
    height: 100vh;
  }

  table {
    width: 80%;
    border-collapse: collapse;
  } 
  th,
  td {
    width: auto;
    border: 1px solid black;
    padding: 0.5rem;
    text-align: left;
  }
  th {
    background-color: #22a328;
  }
  td {
    background-color: #a37a22;
  }

  .login-container{
 width: 80%;
 height: 26rem;
  }
  .inp{
    justify-content: center;
    align-items: center;
    font-size: 1rem;
  }
  .label{
    font-size: 1.6rem;
  }
  .home{
    width: 100%;
    margin: 0 0;
  }
  .tax{
    width: 100%;
  }
  .tax-inp{
    font-size: 1.2rem;
    padding: 1.4rem;
    margin-right: 2rem;
    width: 13rem;
  }
  
  label{
    font-size: 1.2rem;
  }

  .submit{
    justify-content: center;
    margin-left: 4rem;
  }
  .form-control{
font-size: 1.2rem;
height: 2.7rem;
  }

  .btn{
    margin-right: 2rem;
  }

}

/* /end******************************************************** */



/* media query 480px******************* start*/
@media only screen and (max-device-width: 480px) {
  .login-container {
    padding: 40px;
    width: 45rem;
    height: 28rem;
    border-radius: 25px;
  }
  .login-container{
    width: 100%;
     }
     .inp{
       justify-content: center;
       align-items: center;
       font-size: 1rem;
     }
     .label{
       font-size: 2rem;
     }
     .tax{
       width: 100%;
     }
     .tax-inp{
       font-size: 1.2rem;
       padding: 1.4rem;
       margin-right: 2rem;
       width: 13rem;
   
     }
     label{
       font-size: 1.2rem;
     }
   
     .submit{
       justify-content: center;
       margin-left: 4rem;
     }
     .form-control{
   font-size: 1.2rem;
   height: 2.7rem;
     }
   
     .btn{
       margin-right: 2rem;
     }

  label {
    padding: 20px;
    font-size: 1.5rem;
  }

  button {
    font-size: xxx-large;
    margin-top: 1rem;
    padding: 15px;
    border-radius: 15px;
  }

  input {
    padding: 30px;
    width: 91%;
    font-size: xx-large;
    border-radius: 15px;
  }

  .home{
    background-image: url("https://cdn.pixabay.com/photo/2018/04/29/21/27/nature-3361174_1280.jpg");
    background-size:auto;
  }

  .box {
    flex: 1;
   margin-left: 4.5rem;
   width: 92%;
  }

  .sidenav{
    width: 100%;
  }
  
}
/* end************************************************************************ */
